<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title"><a href="{:U('User/admin')}">管理员管理</a> &gt;&gt;</span>
            <span class="h1-title">绑定谷歌管理器</span>
        </div>
        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="{:U('User/adminBind')}" method="post" class="form-horizontal">
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table>
                                <tr class="controls">
                                    <td class="item-label">用户名 :</td>
                                    <td>
                                       {$data.username}
                                    </td>
                                    <td class="item-note">备注</td>
                                </tr>
                                <tr class="controls">
                                    <td  class="item-label">昵称 :</td>
                                    <td>
                                        {$data.nickname}
                                    </td>
                                    <td class="item-note">备注</td>
                                </tr>
                                <tr class="controls">
                                    <td  class="item-label">提示 :</td>

                                    <td >您未绑定谷歌验证，为了您的资金安全，请尽快绑定谷歌验证码</td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">二维码 :</td>
                                   <td>

                                           <img id="qrcodeurl" src="/Public/Static/coinimgs/{$data.username}.png" style="height:120px;" />
                                   </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">验证密码 :</td>
                                    <td><input type="verify" class="form-control input-10x" name="verify" value=""></td>
                                    <td class="item-note">留空不更新</td>
                                </tr>

                                <tr class="controls">
                                    <td class="item-label"></td>
                                    <td>
                                        <div class="form-item cf">
                                            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">提交</button>
                                            <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
                                            <notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/></notempty>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var qrurl=document.getElementById("qrcodeurl").getAttribute('src');
    $("#qrcodeurl").attr('src',qrurl+"?time="+(new Date()).getTime());
    //提交表单
    $('#submit').click(function () {
        $('#form').submit();
    });
</script>
<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav("{:U('User/admin')}");
    </script>
</block>